body {
  padding-top: 20px;
  background-color: #202020;
}

h1 {
	text-align: center;
	color: #E5E5E5;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.main {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	text-align: center;
	box-sizing: border-box;
}

.main input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	height: 40px;
	box-sizing: border-box;
}

.main span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.main span select {
  background-color: #263648;
  color: #fff;
  font-size: inherit;
  padding: 10px;
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: 0px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
}

.main span::before,
.main span::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.main span::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.5em;
  top: 50%;
  margin-top: -.5em;
  color: #131B24;
}

.main span::before { /*  Custom dropdown arrow cover */
  width: 2.5em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color: #202E3C;
}

.from, .to {
  margin-top: 10px;
  box-sizing: border-box;
  width: 45%;
}

.from {
	float: left;
  padding-right: 10px;
}

.to {
	float: right;
  padding-left: 10px;
}
















